.book-cover {
  height: 280px;
  display: inline-block;
  position: relative;

  img {
    max-height: 250px;
  }

  .itemOverlay {
    position: absolute;
    bottom: -30px;
    width: 100%;
    background-color: #333333;
    height: 150px;

    p {
      color: #fff;
      padding: 0 15px;
      margin: 0;
    }

    .title {
      padding-top: 15px;
      text-align: right;
    }

    .details {
      margin: 10px 0;
      position: absolute;
      bottom: 0;
      width: 100%;

      svg {
        margin-left: -5px;
        height: 32px;
        width: 32px;
      }

      &-author {
        font-size: 16px;
        margin-bottom: 10px;
      }

      &-genre,
      &-audience {
        text-transform: uppercase;
        font-size: 12px;
      }
    }
  }
}
